html, body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

video {
  width:100%;
}

.pane {
  overflow:auto;
}

#bottom-content {
  padding:1em;
}

#slidelist li {
  cursor:pointer;
}

#slidelist li:hover {
  text-decoration:underline;
}

#title h2 {
  margin-top:0;
  margin-bottom:0.3em;
}

#messagearea {
  position:absolute;
  float:right;
  right:30px;
  top:60px;
  background-color: #ccc;
  padding:8px;
  border-radius:5px;
  width:400px;
  min-height:3ex;
  display:none;
  z-index:5;
}

#messagearea div {
  padding-left:5px;
  padding-right:5px;
}
.msg-state {
  margin-top:1px;
  padding-top:3px;
  background-color:#ddd;
  padding-bottom:3px;
  margin-top:1px;
}

.msg-error {
  color:red;
  font-weight:bold;
}

.msg-banner {
  margin-bottom:0.5em;
}

/* ui.layout ------------------------------------------------------------------ */

.ui-layout-resizer {
  background: #ddd;
}

.ui-layout-resizer {
  background: #ddd;
}

.ui-layout-toggler {
  background: #aaa;
}

/* controls ------------------------------------------------------------------- */

.header {
  padding: 8px;
  background: #555;
  color:#888;
}

#toolbar-container {
  font-size:11px;
  padding-bottom:10px;
  float:left;
}

#position-slider {
  margin-top:9px;
  margin-left:20px;
  width:600px;
  font-size:10px;
  background:#888;
  display:block-inline;
  float:left;
}

.time-label {
  float:left;
  margin-top:5px;
  font-weight:bold;
}

#position-label {
  margin-left:10px;
  width:8ex;
  text-align:right;
}

#position-label.sliding {
  color:#eee;
}

#duration-label {
  margin-left:10px;
}

#busy-marker {
  margin-left:10px;
  width:20px;
}

#audio-sel-float {
  float:right;
}

#audio-sel-label {
  display:inline-block;
}

#logo {
  float:right;
  padding-right:25px;
}
#logo a {
  text-decoration:none;
  color:#888;
  font-family:sans-serif;
  font-size:25px;
}
