html, body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

video {
  width:100%;
}

.pane {
  overflow:auto;
}

#bottom-content {
  padding:1em;
}

#slidelist li {
  cursor:pointer;
}

#slidelist li:hover {
  text-decoration:underline;
}


#title h2 {
  margin-top:0;
  margin-bottom:0.3em;
}

#messagearea {
  float:right;
}

/* ui.layout ------------------------------------------------------------------ */

.ui-layout-resizer {
  background: #ddd;
}

.ui-layout-resizer {
  background: #ddd;
}

.ui-layout-toggler {
  background: #aaa;
}

/* controls ------------------------------------------------------------------- */

.header {
  padding: 8px;
  background: #555;
  color:#888;
}

#toolbar-container {
  font-size:11px;
  padding-bottom:10px;
  float:left;
}

#position-slider {
  margin-top:9px;
  margin-left:20px;
  width:600px;
  font-size:10px;
  background:#888;
  display:block-inline;
  float:left;
}

#position-label {
  margin-top:4px;
  margin-left:10px;
  font-weight:bold;
  float:left;
}

#audio-sel-float {
  float:right;
}

#audio-sel-label {
  display:inline-block;
}

